body {
    font-family: "Georgia", "Times New Roman", "Times", "serif";
    background-color: #efee7;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #efeefe;
    background-color: #333333;
    font-size: 28px;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2 {
    font-size: 24px;
}

a {
    color: lightskyblue;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

#main-bio {
    width: 70%;
    padding: 0;
    margin: 0 auto;
}

#contact-info {
    width: 30%;
}

#bio-image {
    margin-right: 20px;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}